/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  border: purple 10px solid;
  padding: 0px;
}

.inner-box {
  background-color: red;
}
