/* selector {
    styles
} */

/* universal selector */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* element selectors */
h1 {
  color: red;
}

h2 {
  color: blue;
}

p {
  color: skyblue;
}

/* class selectors */

.vegetable {
  color: orange;
}

.fav-fruit {
  border: brown 2px dashed;
  color: brown;
}

/* Id selectors */

#siri-favfruit {
  background-color: green;
}

/* id selector can be used once in a single file, class selector can be used for multiple tags in a single file */

/* attribute selectors */

p[draggable="true"] {
  cursor: grab;
}
