body {
  margin: 0;
}

.orange {
  width: 100vw;
  background-color: #ff681a;
  height: 33.3vh;
}
.white {
  width: 100vw;
  background-color: #ffffff;
  height: 33.3vh;
  text-align: center;
}

img {
  height: 33vh;
}
.green {
  width: 100vw;
  background-color: #026937;
  height: 33.4vh;
}
